@model AddTicketViewModel

@{
    ViewBag.Title = "Add Ticket";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<div class="container">
    <form asp-controller="Ticket" asp-action="Add" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4 mx-auto text-center">
                <div class="form-group">
                    <label asp-for="TicketKey"></label>
                    <input asp-for="TicketKey" class="form-control" />
                    <span asp-validation-for="TicketKey" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TicketLabel"></label>
                    <input asp-for="TicketLabel" class="form-control" />
                    <span asp-validation-for="TicketLabel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DispatchDate"></label>
                    <input asp-for="DispatchDate" class="form-control" />
                    <span asp-validation-for="DispatchDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Volume"></label>
                    <input asp-for="Volume" class="form-control" />
                    <span asp-validation-for="Volume" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StatusId"></label>
                    <select asp-for="StatusId" class="form-control">
                        <option selected>Select Status</option>
                        @foreach (var name in this.ViewData[GlobalConstants.Statuses] as IEnumerable<StatusViewModel>)
                        {
                            <option value="@name.Id">@name.Name</option>
                        }
                    </select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-8 mx-auto text-center">
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" rows="20" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="text-center m-4">
            <button type="submit" class="btn btn-outline-dark">@ViewBag.Title</button>
        </div>
    </form>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}