@page
@model LoginModel

@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto text-center">
            <section>
                <form id="account" method="post">
                    <h1 class="title">@ViewBag.Title</h1>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-dark">@ViewBag.Title</button>
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <h6>Haven't yet an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-info">Sign Up here</a></h6>
                            <a id="forgot-password" class="text-info" asp-page="./ForgotPassword">Forgot your password?</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

